// Variables
$box-sizing: border-box;
$background-color: #27446e39;
$position: 50;
$left-offset: 1vw;
$right-offset: 1vw;
$x: 50;
$y: 50;
$ball-color: rgb(255, 0, 8);
$ball-size: 2.5vh;
$score-font-size: 7vh;
$colors: "purple";
$image-url: url('/sass/starw.JPEG');
