*,
*::after,
*::before {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #27446e39;
    overflow: hidden;
}

.paddle {
    /* position to center of screen */
    --position: 50;

    position: absolute;
    background-color: white;
    /* using vh to obtain even sizes of different screens */
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
    /* box-shadow:
        0 0 60px 10px #fff,
        0 0 100px 60px #f0f,
        0 0 140px 90px #0ff; */
}

.paddle.left {
    left: 1vw;
    box-shadow:
        0 0 60px 10px #fff,
        0 0 100px 60px rgb(0, 4, 255),
        0 0 140px 90px rgba(8, 0, 255, 0.389);
}

.paddle.right {
    right: 1vw;
    box-shadow:
        0 0 60px 10px #fff,
        0 0 100px 60px rgb(255, 0, 30),
        0 0 140px 90px rgb(255, 0, 0);
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: rgb(255, 0, 8);
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    border-radius: 50%;
    /* transform translate places ball in center */
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: white;
}

.score>* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
}

.score> :first-child {
    text-align: right;
}


html {
    background: url(./images/star\ wars\ death\ star\ wallpaper.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}